@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Loster";
  src: url("../assets/Lostar.otf");
  src: url("../assets/Lostar.otf");
  font-weight: 900;
  font-style: normal;
}

.background {
  background: radial-gradient(
      at 32% 25%,
      hsla(28, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 62% 66%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%),
    url(https://grainy-gradients.vercel.app/noise.svg);
}
