@tailwind base;
@tailwind components;
@tailwind utilities;

.display {
  font-family: var(--display-font);
}

.project-grid > *:last-child,
.project-grid > *:nth-child(even):nth-last-child(2) {
  @apply overflow-hidden rounded-br-xl;
}

.project-grid > *:last-child:first-child {
  @apply overflow-hidden rounded-xl;
}
