@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Loster";
  src: url("../assets/Lostar.otf");
  src: url("../assets/Lostar.otf");
  font-weight: 900;
  font-style: normal;
}

.transition-ring {
  transition: 0.2s ease-out;
}
