@tailwind base;
@tailwind components;
@tailwind utilities;

.display {
  font-family: var(--display-font)
}

*::-webkit-scrollbar {
  @apply h-1.5 w-1.5;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-400 dark:bg-slate-600;
}

.project-grid > *:last-child,
.project-grid > *:nth-child(even):nth-last-child(2) {
  @apply overflow-hidden rounded-br-xl;
}

.project-grid > *:last-child:first-child {
  @apply overflow-hidden rounded-xl;
}
