@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Loster";
  src: url("../assets/Lostar.otf");
  src: url("../assets/Lostar.otf");
  font-weight: 900;
  font-style: normal;
}

.transition-ring {
  transition: 0.2s ease-out;
}

.marquee {
  animation: scroll 15s linear infinite;
}

.reverse {
  animation-direction: reverse;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}
